

<div fxLayout="row" fxLayoutAlign="space-between stretch">
    <ngx-tm-select
    style="margin: 10px;"
        [input]="tsTest"
        [column]="'type'"
        [name]="'Type'"
        (output)="selectTest($event)"
        >
    </ngx-tm-select> 

    <ngx-table-manager
    style="margin: 10px;"
        [input]="tsTest" 
        [selectedColor]="'red'"
        [advencedSearch]="true"
        [fastSearch]="true"
        [displayColumns]="true"
        [inputSearch]="true"
        [startSearch]="true"
        [columnSticky]="true"
        [colorPickerText]="true"
        [colorPickerBackground]="true"

        (output)="onSearchTest($event)"  
        (dispColsSelect)="onDispColsSelect($event)"
        >
    </ngx-table-manager>
</div>

<button mat-button (click)="btnToggle()">Toogle Select</button>

<ngx-table
    [input]="tsTest" 
    [extraCols]="extraCols"
    [isSelectable]="isSelectable"
    [isRowSelect]="true"
    [numberFormat]="numberFormat"
    [loading]="loading"
    [rowColor]="true"
    (output)="onEvent($event)"
    [columnSearch]="true"
    >

</ngx-table>